.stat-card {
  flex: 1;
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.stat-card h3 {
  font-size: 22px;
  color: #c81a1a;
  margin-bottom: 5px;
}
